/**
 * Import SCSS Partials
 */
/* Base */
/* ==========================================================================
   Font Faces & Sizes
   ========================================================================== */
/* 
 * Modular Type Scale: http://www.modularscale.com/
 *
 * 16 ratio-based type sizes from A-P.
 * A is the largest possible type. 
 * P is the smallest possible type.
 * M is the default body size.
 *
 * The idea is NOT to use all 16 sizes, but rather to have a system 
 * in place so that sizes larger or smaller than what's in use are
 * available in the future.
 */
/* ==========================================================================
   PX > REM Conversion
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* Greens */
/* Shades - Light to Dark */
/* Yellow-Oranges */
/* ==========================================================================
   Color Designation
   ========================================================================== */
/* ==========================================================================
   Gradients
   ========================================================================== */
/* ==========================================================================
   Stack Order
   ========================================================================== */
/* ==========================================================================
   Grid Settings
   ========================================================================== */
/*
 * Float-based grid configuration and mixins lifted from Foundation (version 4?), without the bloat.
 * Use the mixins in functions/grid to roll your own grid classes as needed.
 */
/* ==========================================================================
   Grid
   ========================================================================== */
/* ==========================================================================
   Block Grid
   ========================================================================== */
/* ==========================================================================
   Custom Mixin Imports
   ========================================================================== */
/* ==========================================================================
   Breakpoints
   ========================================================================== */
/*
 * Default breakpoints, update as needed depending on design.
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * Base Styles
 */
html {
  font-size: 1em; }

/*
 * Reduce font-dilation on Mac OS
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*:before,
*:after {
  box-sizing: border-box; }

*:focus {
  outline: none;
  box-shadow: 0 0 4px 1px #30343F; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

img {
  max-width: 100%; }

/*
 * Forms
 */
/*
 * Buttons
 */
/*
 * Icons
 */
/*
 * Typography
 */
/* ==========================================================================
   Font Embeds
   ========================================================================== */
@font-face {
  font-family: 'tofino_black_italic';
  src: url("../fnt/tofino-blackitalic-webfont.woff2") format("woff2"), url("../fnt/tofino-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tofino_bold';
  src: url("../fnt/tofino-bold-webfont.woff2") format("woff2"), url("../fnt/tofino-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tofino_book';
  src: url("../fnt/tofino-book-webfont.woff2") format("woff2"), url("../fnt/tofino-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tofino_medium';
  src: url("../fnt/tofino-medium-webfont.woff2") format("woff2"), url("../fnt/tofino-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Defaults
   ========================================================================== */
html {
  font-family: "Lora", serif;
  color: #30343F;
  line-height: 1.5; }

p {
  margin-top: 0;
  margin-bottom: .8em;
  line-height: 1.5; }

p:last-of-type {
  margin-bottom: 1.5em; }

a {
  color: #30343F; }

h1, h2, h3, h4, h5, h6 {
  font-family: "tofino_bold", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0;
  color: #30343F;
  margin-bottom: .25em; }

h3, h4, h5, h6 {
  font-family: "tofino_medium", sans-serif; }

/* ==========================================================================
   Headline Base Styles
   ========================================================================== */
h1 {
  font-size: 2.56578em; }

h2 {
  font-size: 2.2807em; }

h3 {
  font-size: 1.60181em; }

h4 {
  font-size: 1.42383em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

/* ==========================================================================
   Specialized Headline Styles
   ========================================================================== */
/*
 * Class-based headline styles independent of H-tag designation  
 */
/* ==========================================================================
   Body Content Styles
   ========================================================================== */
/* 
 * Use on containers
 */
.content-lrg {
  font-size: 1.26562em; }

.content-med {
  font-size: 1.125em; }

.content-sm {
  font-size: 1em; }

.content-xsm {
  font-size: 0.88889em; }

/* ==========================================================================
   Type Sizes: Utility Classes
   ========================================================================== */
/*
 * Convenience classes for in-browser type tweaking.
 * Prefer designated classes or h1-h6 tags where possible.
 */
.sz-a {
  font-size: 4.10989em; }

.sz-b {
  font-size: 3.65324em; }

.sz-c {
  font-size: 3.24732em; }

.sz-d {
  font-size: 2.88651em; }

.sz-e {
  font-size: 2.56578em; }

.sz-f {
  font-size: 2.2807em; }

.sz-g {
  font-size: 2.02729em; }

.sz-h {
  font-size: 1.80203em; }

.sz-i {
  font-size: 1.60181em; }

.sz-j {
  font-size: 1.42383em; }

.sz-k {
  font-size: 1.26562em; }

.sz-l {
  font-size: 1.125em; }

.sz-m {
  font-size: 1em; }

.sz-n {
  font-size: 0.88889em; }

.sz-o {
  font-size: 0.79012em; }

.sz-p {
  font-size: 0.70233em; }

/* ==========================================================================
   Type Variations: Utility Classes
   ========================================================================== */
.up {
  text-transform: uppercase; }

/* ==========================================================================
   Type Alignment: Utility Classes
   ========================================================================== */
.align-cntr {
  text-align: center; }

.align-rt {
  text-align: right; }

.align-l {
  text-align: left; }

/* Layout */
/*
 * Scaffolding + Grid
 */
/* 
 * Header
 */
.page-header {
  border-bottom: 10px solid #30343F;
  padding: 0.9375rem 1.875rem; }
  .page-header__inner {
    max-width: 100.8125rem;
    margin: 0 auto; }

/* 
 * Header
 */
/* Components */
.wordmark {
  font-family: "tofino_black_italic", sans-serif;
  font-size: 1.60181em;
  font-weight: normal;
  line-height: 1; }
  .wordmark a {
    text-decoration: none; }
  .wordmark span {
    display: block; }
  .wordmark__last {
    text-indent: .47em; }
  .wordmark__title {
    display: block;
    font-family: "tofino_book", sans-serif;
    font-size: .47em;
    text-indent: 1em; }

/* 
 * Navigation
 */
.hero {
  background: linear-gradient(45deg, #00A676, #00A676 33.3%, #45BE9B 100%);
  color: #F7F9F9;
  padding: 1.875rem;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  /* 600px */ }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2082.7%2082.7%22%3E%3Cpath%20d%3D%22M77.2%2046.8l5.5-5.5-5.5-5.5v-7.7h-4l2.8-2.8-5.5-5.5v-7.7h-7.7l-5.4-5.4-2.8%202.8v-4h-7.7L41.4%200l-5.5%205.5h-7.7v4l-2.8-2.8-5.5%205.5h-7.7v7.7l-5.5%205.5%202.8%202.8h-4v7.7L0%2041.4l5.5%205.5v7.7h4l-2.8%202.8%205.5%205.5v7.7h7.7l5.5%205.4%202.8-2.8v4h7.7l5.5%205.5%205.5-5.5h7.7v-4l2.8%202.8%205.5-5.5h7.7v-7.7l5.5-5.5-2.8-2.8h4l-.1-7.7zm4.1-5.5l-4%204v-8.1l4%204.1zm-11%202.9h-7.4l-2.8-2.8%202.8-2.8h7.4l2.8%202.8-2.8%202.8zm-.7%208.8l-.5.5h-4.3V51l1.7-1.8%203%203v.8h.1zm-9.8%2010.8l-5.3-5.3v-4h4l5.2%205.2v4h-3.9v.1zm-6.7%205.8h-.7l-3-3%201.7-1.7h2.5V69l-.5.6zm-23.4%200l-.5-.6v-4.3h2.5l1.7%201.7-3%203h-.7v.2zm-10.8-5.8v-4l5.3-5.3h4v4l-5.3%205.3h-4zM13.2%2053v-.7l3-3%201.7%201.7v2.5h-4.3l-.4-.5zm-.7-14.5h7.4l2.8%202.8-2.8%202.8h-7.4l-2.8-2.8%202.8-2.8zm.7-8.8l.5-.5H18v2.5l-1.7%201.7-3-3-.1-.7zm9.7-10.8l5.3%205.3v4h-4l-5.3-5.3v-4h4zm6.8-5.8h.7l3%203-1.7%201.7h-2.5v-4.3l.5-.4zm23.4%200l.5.5v4.3h-2.5l-1.7-1.7%203-3h.7v-.1zm10.7%205.8v4l-5.3%205.2h-4v-4l5.3-5.3h4v.1zm-1.4%2018.6h-3.7l4.8-4.8h1l1.3%201.3-3.4%203.5zm4.2-2.7l2.7%202.7h-5.4l2.7-2.7zm-2.1%2015.1h-1l-4.8-4.8h3.7l3.4%203.4-1.3%201.4zM59%2053.5l-2.6-2.6h6.7l.7.7v1.9H59zm4.8%201v3.8L60%2054.5h3.8zm-12.1%209.3l-.7-.7v-6.7l2.6%202.6v4.8h-1.9zm-6.5-1.4v-3.7l4.8%204.8v1l-1.3%201.3-3.5-3.4zm2.7%204.1l-2.7%202.7v-5.4l2.7%202.7zm-13.8-.7l-1.3-1.3v-1l4.8-4.8v3.7l-3.5%203.4zm3.4-2v5.4l-2.7-2.7%202.7-2.7zm-8.3%200V59l2.6-2.6v6.7l-.7.7h-1.9zM18.9%2053.5v-1.9l.7-.7h6.8l-2.6%202.6h-4.9zm3.9%201L19%2058.3v-3.8h3.8zm-2.5-9.3H24L19.2%2050h-1l-1.3-1.3%203.4-3.5zm-4.1%202.7l-2.7-2.7h5.4l-2.7%202.7zm2-15.1h1l4.8%204.8h-3.7l-3.4-3.4%201.3-1.4zm5.6-3.6l2.6%202.6h-6.7l-.7-.7v-1.9h4.8zm-4.9-1v-3.8l3.8%203.8h-3.8zm12.2-9.3l.7.7v6.7l-2.6-2.6v-4.8h1.9zm6.4%201.4V24l-4.8-4.8v-1l1.3-1.3%203.5%203.4zm-2.7-4.1l2.7-2.7v5.4l-2.7-2.7zm13.8.7l1.3%201.3v1L45.1%2024v-3.7l3.5-3.4zm-3.4%202v-5.4l2.7%202.7-2.7%202.7zm8.4%200v4.8L51%2026.3v-6.7l.7-.7h1.9zm.6%2023.1L52%2044.2h-.1v-5.7h.1l2.2%202.2-.6.6.6.7zM50%2049.9v.9h-3.1l-.1-.1%204-4%20.1.1v3.1H50zm-8.6%203.6l-.6.6-2.2-2.2v-.1h5.7v.1l-2.2%202.2-.7-.6zm-9.5-3.6v-3.1l.1-.1%204%204-.1.1h-3.1v-.9h-.9zm-3.3-9.2l2.2-2.2h.1v5.7h-.1L28.6%2042l.6-.6-.6-.7zm4.2-7.9v-.9h3.1l.1.1-4%204-.1-.1v-3.1h.9zm8.6-3.6l.6-.6%202.2%202.2v.1h-5.7v-.1l2.2-2.2.7.6zm4%202.7l-.2.2v-.2h.2zm0%209.4l2.8%202.8h-4v4l-2.8-2.7-2.8%202.8v-4h-4l2.8-2.8-2.8-2.8h4v-4l2.8%202.8%202.8-2.8v4h4l-2.8%202.7zm4.2-2.8h1.2v5.7h-1.2l-2.8-2.8%202.8-2.9zm-.4%206.7l.9.9-4%204-.9-.9v-4h4zm-5%204.4v1.2h-5.7v-1.2l2.8-2.8%202.9%202.8zm-6.7-.4l-.8.8-4-4%20.9-.9h4v4.1h-.1zm-4.4-5h-1.2v-5.7h1.2l2.8%202.8-2.8%202.9zm.4-6.7l-.9-.9%204-4%20.9.9v4h-4zm5-4.4v-1.2h5.7v1.2l-2.8%202.8-2.9-2.8zm6.7%204.4v-4l.9-.9%204%204-.9.9h-4zm-7.7-5.6v.2-.2zM32%2037.4l.2.2H32v-.2zm-.1%207.8h.2l-.2.2v-.2zm5.5%205.6l.2-.2v.2h-.2zm7.8%200v-.2l.2.2h-.2zm5.6-5.5l-.2-.2h.2v.2zm.1-7.8h-.2l.2-.2v.2zm-.1-1.6l-4-4%20.1-.1H50v.9h.9l-.1%203.2zm-.8-5h-2.1l2.1-2.1v2.1zm-3.6%200h-.7l-.5-.5v-5l4.8-4.8v6.7l-3.6%203.6zm-2.2-1.5l-1.5-1.5%201.5-1.5v3zm-4.1-1.5l-1.5%201.5v-3l1.5%201.5zm-2.6%202.5l-.5.5h-.7l-3.5-3.5v-6.7l4.8%204.8-.1%204.9zm-2.6.5h-2.1v-2.1l2.1%202.1zm-4%201.9v2.1l-2.1-2.1h2.1zm0%203.5v.7l-.5.5h-5l-4.8-4.8h6.8l3.5%203.6zm-1.5%202.2L27.9%2040l-1.5-1.5h3zm-1.5%204.2l1.5%201.5h-3l1.5-1.5zm2.5%202.5l.5.5v.7l-3.5%203.5h-6.7l4.8-4.8%204.9.1zm.5%202.6v2.1h-2.1l2.1-2.1zm1.9%204h2.1l-2.1%202.1v-2.1zm3.5%200h.7l.5.5v5l-4.8%204.8v-6.7l3.6-3.6zm2.2%201.5l1.5%201.5-1.5%201.5v-3zm4.2%201.5l1.5-1.5v3l-1.5-1.5zm2.5-2.5l.5-.5h.7l3.5%203.5V62l-4.8-4.8.1-4.9zm2.6-.5h2.1v2.1l-2.1-2.1zm4.1-1.9v-2.1l2.1%202.1h-2.1zm0-3.5v-.7l.5-.5h5l4.8%204.8h-6.8l-3.5-3.6zm1.5-2.2l1.5-1.5%201.5%201.5h-3zm1.5-4.2l-1.5-1.5h3L54.9%2040zm-2.5-2.5l-.5-.5v-.7l3.5-3.5h6.7l-4.7%204.7h-5zm-.5-2.6v-2.1H54l-2.1%202.1zm2.7-3.1v-2.6h3L55%2031.8h-.4zm-1-.9h-1.7v-1.7h1.7v1.7zM51%2028.2v-.4l2.6-2.6v3H51zm-6.8-3.3l-.3.3-1.8-1.8%202.1-2.1v3.6zm-1.6.4l-1.2%201.2-1.2-1.2%201.2-1.2%201.2%201.2zm-3.8-.1l-.3-.3v-3.7l2.1%202.1-1.8%201.9zm-7%202.5v.4h-2.6v-3l2.6%202.6zm-.9%201.5v1.7h-1.7v-1.7h1.7zm-2.7%202.6h-.4l-2.6-2.6h3v2.6zM25%2038.5l.3.3-1.9%201.8-2.1-2.1H25zm.4%201.6l1.2%201.2-1.2%201.3-1.2-1.2%201.2-1.3zm-.1%203.8l-.3.3h-3.7l2.1-2.1%201.9%201.8zm2.5%207h.4v2.6h-3l2.6-2.6zm1.4.9h1.7v1.7h-1.7v-1.7zm2.6%202.7v.4l-2.6%202.6v-3h2.6zm6.7%203.3l.3-.3%201.8%201.8-2.1%202.1v-3.6zm1.7-.4l1.2-1.2%201.2%201.2-1.2%201.2-1.2-1.2zm3.7.1l.3.3v3.7l-2.1-2.1%201.8-1.9zm7.1-2.6v-.4h2.6v3L51%2054.9zm.9-1.4v-1.7h1.7v1.7h-1.7zm2.7-2.6h.4l2.6%202.6h-3v-2.6zm3.2-6.7l-.3-.3%201.8-1.8%202.1%202.1h-3.6zm-.4-1.6l-1.2-1.2%201.2-1.2%201.2%201.2-1.2%201.2zm.1-3.8l.3-.3h3.6l-2.1%202.1-1.8-1.8zm6.3-7.7l-.7.7h-6.7l2.6-2.6h4.8v1.9zM60%2028.2l3.8-3.8v3.8H60zm4.8-3.3l3.3%203.3h-3.3v-3.3zm-10.2-2.2v-3.8h3.8l-3.8%203.8zm0-4.8v-3.3l3.3%203.3h-3.3zm-6-2.5l-2.3-2.3h4.6l-2.3%202.3zm-4.4%204.5l-2.8%202.8-2.8-2.8v-7.4l2.8-2.8%202.8%202.8v7.4zm-10.1-4.5l-2.3-2.3h4.6l-2.3%202.3zm-5.9%202.5h-3.3l3.3-3.3v3.3zm0%201v3.8l-3.8-3.8h3.8zm-10.3%209.3h-3.3l3.3-3.3v3.3zm-2.4%205.9l-2.3%202.3v-4.6l2.3%202.3zm.7.7l2.7%202.7h-5.4l2.7-2.7zm-.7%2013.8l-2.3%202.3v-4.6l2.3%202.3zm2.4%205.9v3.3l-3.3-3.3h3.3zM28.2%2060v3.8h-3.8l3.8-3.8zm0%204.8V68l-3.3-3.3h3.3v.1zm5.9%202.4l2.3%202.3h-4.6l2.3-2.3zm4.4-4.4l2.9-2.8%202.8%202.8v7.4l-2.8%202.9-2.8-2.8v-7.5h-.1zm10.1%204.4l2.3%202.3h-4.6l2.3-2.3zm6-2.4h3.3L54.6%2068v-3.2zm0-1V60l3.8%203.8h-3.8zm10.2-9.3h3.3l-3.3%203.3v-3.3zm2.5-5.9l2.3-2.3v4.6l-2.3-2.3zm-.7-.7l-2.7-2.7h5.4l-2.7%202.7zm.7-13.8l2.3-2.3v4.6l-2.3-2.3zm-.7-.7l-1.8-1.8v-2.5h4.3l.5.5v.7l-3%203.1zm4-4.2l.2-.1-.2.1zm-1.1-1l-4.7-4.7v-5.6h-5.6l-4.7-4.7v-.1h7.9l7.1%207.1v8zm-16-16.1l.1-.2-.1.2zm-1.6%200h-6.6l-4-4-4%204h-6.6l-.1-.1%205.6-5.6h10.2l5.5%205.7zm-22.6%200l-.1-.2.1.2zm-1.1%201.1l-4.7%204.7h-5.6v5.6l-4.7%204.7h-.1v-7.9l7.1-7.1h8zm-16%2016l-.2-.1.2.1zm0%201.6v6.6l-4%204%204%204V52h-.1l-5.6-5.6V36.3l5.7-5.5zm0%2022.6l-.2.1.2-.1zm1.1%201.1l4.7%204.7v5.6h5.6l4.7%204.7v.1h-7.9l-7.1-7.1v-8zm16%2016.1l-.1.2.1-.2zm1.5%200h6.6l3.9%203.9%203.9-3.9h6.6l.1.1-5.5%205.5H36.3l-5.5-5.6zm22.7%200l.1.2-.1-.2zm1.1-1.1l4.7-4.7h5.6v-5.6l4.7-4.7h.1v7.9l-7.3%207.2-7.8-.1zm16-16.1l.2.1-.2-.1zm0-1.5v-6.6l4-4-4-4v-6.6l.1-.1%205.6%205.6v10.1l-5.7%205.6zm5.6-22.7v5.7L71.4%2030l.9-.9h3.9v.1zm-1.6-3.9l-2.8%202.8h-1.2v-6.9l4%204.1zm-5-12.2v5.7l-5.7-5.7h5.7zm-12.2-5l4%204h-6.9v-1.2l2.9-2.8zm-3.8-1.6v4l-.9.9-4.9-4.9h5.8zm-12.2-5l4%204h-8.1l4.1-4zm-12.2%205h5.7L30%2011.4l-.9-.9v-4h.1zm-3.8%201.6l2.8%202.8v1.2h-6.9l4.1-4zm-12.2%205h5.7l-5.7%205.7v-5.7zM8.1%2025.3l4-4v6.9h-1.2l-2.8-2.9zm-1.6%203.9h4l.9.8-4.9%204.9v-5.7zm-5%2012.1l4-4v8.1l-4-4.1zm5%2012.2v-5.7l4.9%204.9-.9.9h-4v-.1zm1.6%203.9l2.8-2.8h1.2v6.9l-4-4.1zm5.1%2012.2v-5.7l5.7%205.7h-5.7zm12.2%205l-4-4h6.9v1.2l-2.9%202.8zm3.8%201.6v-4l.9-.9%204.9%204.9h-5.8zm12.2%205l-4-4h8l-4%204zm12.2-5h-5.7l4.9-4.9.9.9v4h-.1zm3.8-1.6l-2.8-2.8v-1.2h6.8l-4%204zm12.2-5h-5.7l5.7-5.7v5.7zm5-12.2l-4%204v-6.9h1.2l2.8%202.9zm-2.4-3.9l-.8-.8%204.9-4.9v5.7h-4.1z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left -10% top -60%;
    background-blend-mode: screen;
    opacity: .025;
    z-index: 3; }
  .hero__inner {
    max-width: 575px;
    z-index: 4; }
  .hero__head {
    color: #F7F9F9;
    width: 100%;
    margin-top: 20%;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1); }
  .hero__detail {
    width: 100%;
    font-size: 1.26562em; }
    .hero__detail a {
      color: #F7F9F9;
      text-decoration: none;
      display: inline-block;
      background-color: rgba(0, 121, 86, 0.65);
      padding: 0 5px;
      margin: 0 -5px; }
      .hero__detail a:hover {
        background-color: rgba(0, 121, 86, 0.9); }
  .hero--shallow {
    display: block;
    height: auto;
    padding: 1.875rem 0 1.375rem;
    position: relative;
    box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.1); }
    .hero--shallow .hero__inner {
      max-width: 1613px;
      margin: 0 auto;
      padding: 0 2.8125rem; }
    .hero--shallow .hero__head {
      margin: 0;
      font-family: "tofino_black_italic", sans-serif; }
    .hero--shallow:before {
      background-size: 500px 500px; }
  @media (min-width: 37.5em) {
    .hero {
      padding-left: 42%; }
      .hero--shallow {
        padding-left: 0; } }

.projects {
  padding: 1.875rem;
  /* 768px */
  /* 1100px */ }
  .projects__intro {
    margin-bottom: 1.875rem; }
    .projects__intro p {
      margin-bottom: .4em;
      line-height: 1.4; }
    .projects__intro__content {
      font-size: 1.80203em; }
    .projects__intro__disclaimer {
      font-size: 0.88889em;
      font-family: "tofino_book", sans-serif; }
      .projects__intro__disclaimer b {
        font-size: 0.88889em;
        font-family: "tofino_medium", sans-serif;
        font-weight: normal;
        text-transform: uppercase; }
  .projects__list {
    list-style-type: none;
    margin: 0 -1.875rem;
    padding: 0; }
  @media (min-width: 48em) {
    .projects__intro {
      margin-bottom: 0.9375rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .projects__intro__content {
        width: 40%;
        padding-left: 0.9375rem; }
      .projects__intro__disclaimer {
        width: 50%;
        padding-left: 0.46875rem;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
    .projects__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      -ms-grid-rows: auto auto;
          grid-template-rows: auto auto; } }
  @media (min-width: 68.75em) {
    .projects__list {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr; }
      .projects__list li:nth-child(1) {
        -ms-grid-column: 1;
            grid-column-start: 1;
        grid-column-end: 3; }
      .projects__list li:nth-child(2) {
        -ms-grid-column: 3;
            grid-column-start: 3;
        grid-column-end: 5; } }

.project {
  margin-bottom: 1.875rem; }
  .project__img {
    display: block; }
    .project__img img {
      width: 100%; }
  .project__detail {
    padding: 0.9375rem 2.8125rem; }
  .project__title {
    margin-bottom: 0;
    font-family: "tofino_bold", sans-serif; }
    .project__title a {
      text-decoration: none; }
    .project__title sup {
      font-size: .15em;
      top: -1.3em; }
  .project__meta {
    font-family: "tofino_medium", sans-serif;
    font-size: 0.79012em;
    margin-bottom: 0.9375rem; }
  .project__subhead {
    font-size: 1em;
    font-family: "tofino_bold", sans-serif;
    text-transform: uppercase;
    padding-bottom: 0.23438rem;
    border-bottom: 1px solid #30343F; }
  .project__list {
    margin: 0;
    padding: 0.46875rem 0;
    list-style-type: none; }

/* Utilities / Helpers */
/*
 * Utility Classes
 */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }
