/* 
 * Header
 */

.page-header{
  border-bottom: 10px solid $gunmetal;
  padding: pxrem(15px) pxrem(30px);

  &__inner{
    max-width: pxrem(1400px);
    margin: 0 auto;
  }

  @include breakpoint(small){
    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}